* {
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;    
}

/* body */
.container {
    /* display: flexbox;  */
    background-image: url("../images/background-img.jpeg");
    width: 100vw;
    height: 100vh;
    /* border: 2px black solid;  */
    padding: 15px; 
    /* background-color: rgb(247, 233, 124); */
}
.header-btn {
    font-size: 1.5rem;
    height: 2.5rem;
    border: 2px black solid; 
    padding: 9px;
    background-color: rgb(187, 37, 37);
    border-radius: 5px;
    box-shadow: 5px;
    text-align: center;
    color: black;
}

#score {
    float: left;
    /* width: 180px; */
    text-decoration-line: none;
}

#count-down {
    float: right;
    /* width: 40%; */
    margin-top: 1px;
}
/* quiz intro */
.main-section {
    text-align: center; 
    border: 2px black solid; 
    margin: 10%;
    margin-top: 9%; 
    line-height: 50px;
    background-color: azure;   
    /* position: relative; */
    padding-bottom: 2%;
}

.intro-info {
    line-height: 118%;
    font-size: x-large;
    padding: 3px;
    margin: auto 6%;
}

.btn {
    line-height: 40px;
    /* width: 28%; */
    font-size: 158%;
    background-color: rgb(187, 37, 37);
    border-radius: 5px;
    box-shadow: 5px;
    cursor: pointer;
    display: inline-block;
}

#welcome {
    font-size: 285%;
    padding: 3%;
}



/* JavaScript created UI elements */
#question-container ul {
    font-size: medium;
}

div#questions-container {
    font-size: x-large;
}

textarea {
    width: 20%;
    margin: 20px;
    height: 20px;
}

label { 
    margin-right: 10px;
}

input {
    margin-bottom: 20px;
    width: 12%;
    line-height: 25px;
    border: 1px solid black;
    font-size: 15px;
}

h1 {
    text-align: center;
    padding-top: 5%;
    font-size: 40px;
}

p {
    font-size: large;
}

dl {
    border-bottom: 1px black solid;
    text-align: center;
    font-size: 15px;
    width: 20%;
    margin-left: 35%;
}

ul {
    font-size: x-large;
    margin: 10%;
}

li {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5%;
    padding: 5px 15px;  
    width: 80%;
    border: 1px solid black;
    list-style: none;

}

li:hover {
    cursor: pointer;
    background-color: rgb(16, 68, 148);
    color: white;
}

#createDiv {
    margin-top: 20px;
    width: 400px;
    height: auto;
    border-bottom: 1px solid black;
}



/* Leaderboard UI */

#questions-group {
    font-size: 26px;
    margin: 20px;
    text-align: center; 
    width: 80%;
    margin: 10%;
    margin-top: 15%; 
    line-height: 50px;
    background-color: azure;   
}

#submit {
    margin: 2%;
    padding: 2px;
    line-height: 20px;
    text-align: center;
    width: auto;
    font-size: 20px;
    background-color: rgb(187, 37, 37);
    border-radius: 5px;
    box-shadow: 5px;
    cursor: pointer;
    display: inline-block;

}

#restart {
    margin: 2%;
    padding: 2px;
    line-height: 20px;
    text-align: center;
    width: auto;
    font-size: 20px;
    background-color: rgb(187, 37, 37);
    border-radius: 5px;
    box-shadow: 5px;
    cursor: pointer;
    display: inline-block;
}

/* High Scores UI */
#go-back {
    /* position: relative; */
    margin: 15px;
    width: auto;
    text-align: center;

}

#clear {
    /* position: relative; */
    margin: 15px;
    width: 100px;
    text-align: center;
}

/* footer */
.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    /* right: 40%; */
    color: rgb(187, 37, 37);
    font-size: medium;
    font-weight: bolder;
    background-color: azure;
    line-height: 20px;
    padding: 1%;
    

}
/* @media screen {
/* shrink text h1s, buttons */

@media screen and (max-width: 350px) { 
    .btn {
        font-size: 17px;
        width: auto;
    }
    .main-section {
        margin-top: 30%;        
    }
    #score {
        width: 139px;
    }
    #welcome {
        font-size: 220%;
    }
    .intro-info {
        font-size: large;
    }
    #createDiv {
        width: auto;
    }
    button#restart, 
    button#submit {
        width: auto;
    }
}


