
* {
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;
    
}
/* body */
.container {
    display: flexbox; 
    background-image: url("../images/background-img.jpeg");
    /* border: 2px black solid;  */
    padding: 3px; 
    /* background-color: rgb(247, 233, 124); */
    margin: 2%;
}

#score {
    float: left;
    width: 180px;
    height: 40px;
    border: 2px black solid; 
    padding: 5px;
    background-color: rgb(187, 37, 37);
    border-radius: 5px;
    box-shadow: 5px;
    text-align: center;
    color: black;
    font-size: 20px;
}

#count-down {
    float: right;
    width: 180px;
    height: 40px;
    font-size: 20px;
    margin-top: 1px;
    line-height: 4.1vh;
    border: 2px black solid; 
    padding: 5px;
    background-color: rgb(187, 37, 37);
    border-radius: 5px;
    box-shadow: 5px;
    text-align: center;

}
/* quiz intro */
.main-section {
    text-align: center; 
    border: 2px black solid; 
    margin: 10%;
    margin-top: 11%; 
    line-height: 50px;
    background-color: azure;   
    position: absolute;
}

#welcome {
    font-size: 300%;
}

.intro-info {
    line-height: 20px;
    font-size: x-large;
}


/* #hook {
    
} */

.btn {
    line-height: 40px;
    width: 180px;
    font-size: 30px;
    background-color: rgb(187, 37, 37);
    border-radius: 5px;
    box-shadow: 5px;
    cursor: pointer;
    display: inline-block;
}



/* not sure yet */
textarea {
    width: 90%;
    margin: 20px;
}

label { 
    margin-right: 10px;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid black;
}

h1 {text-align: center;
    padding-top: 5%;
    font-size: 40px;
}

dl {
    border-bottom: 1px black solid;
    text-align: center;
    font-size: 15px;
    width: 20%;
    margin-left: 35%;
}

li {
    font-size: 20px;
    margin-top: 10px;
    padding: 5px 15px;  
    width: 80%;
    border: 1px solid black;
    list-style: none;
}

li:hover {
    cursor: pointer;
    background-color: rgb(16, 68, 148);
    color: white;
}

#createDiv {
    margin-top: 20px;
    width: 400px;
    height: auto;
    border-bottom: 1px solid black;
}

#submit {
    margin: 3% 0 10% 30%;
}

#go-back {
    position: relative;
    margin: 15px;
    width: auto;
    text-align: center;

}

#clear {
    position: relative;
    margin: 15px;
    text-align: center;
}


#questions-group {
    font-size: 26px;
    margin: 20px;
    text-align: center; 
    width: 80%;
    margin: 10%;
    margin-top: 15%; 
    line-height: 50px;
    background-color: azure;   
}


/* footer */
.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 40%;

}
/* @media screen {
    shrink text on screen sizes
} */

