* {
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;
    
}
/* body */
.container {
    display: flexbox; 
    background-image: url("../images/background-img.jpeg");
    /* border: 2px black solid;  */
    padding: 3px; 
    /* background-color: rgb(247, 233, 124); */
    margin: 2%;
}

#score {
    float: left;
    /* width: 100px; */
    height: 40px;
    border: 2px black solid; 
    padding: 5px;
    background-color: rgb(187, 37, 37);
    border-radius: 5px;
    box-shadow: 5px;
    text-align: center;
    color: black;
    font-size: large;
}

#count-down {
    float: right;
    width: 100px;
    height: 40px;
    margin-top: 1px;
    line-height: 4.1vh;
    border: 2px black solid; 
    padding: 5px;
    background-color: rgb(187, 37, 37);
    border-radius: 5px;
    box-shadow: 5px;
    text-align: center;

}
/* quiz intro */
.main-section {
    text-align: center; 
    border: 2px black solid; 
    margin: 10%;
    margin-top: 15%; 
    line-height: 50px;
    background-color: azure;   
}

#welcome {
    font-size: 300%;
}

.intro-info {
    line-height: 20px;
    font-size: x-large;
}


/* #hook {
    
} */

.btn {
    line-height: 30px;
    font-size: x-large;
    background-color: rgb(187, 37, 37);
    border-radius: 5px;
    box-shadow: 5px;
}

/* .question-container {
    text-align: center; 
    border: 2px black solid; 
    margin: 18% 10% 10% 10%;
    height: 60vh;
    line-height: 50px;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: none; */

/* } */

.question-answers {
    border: black 2px solid;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
    /* display: none; */
}

.btn-answer-options {
    background-color: rgb(187, 37, 37);
    display: block;
    padding: 3%;
    border-radius: 50%;
    /* display: none; */
}



#final-score {
    border: 2px black solid;
    text-align: center;
    font-size: 23px; 
    background-color: rgba(189, 11, 11, 0.329);
    /* display: none; */
}

.input {
    font-size: large;
    /* display: none; */
}

/* .high-scores {
    text-align: center; 
    border: 2px black solid; 
    margin: 18% 10% 10% 10%;
    height: 60vh;
    line-height: 50px;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    position: relative;
    display: none;
} */

/* footer */

/* @media screen {
    shrink text on screen sizes
} */

